@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap%27');

h1{
    text-align: center;
    font-style: bold;
    color: white;

}

body{
    /*больше вещей будет добавлено*/
    font-family: roboto;
    font-size: 22px;
    font-style: bold;
    text-align: center;
    color: white;
    background-color: rgb(105,105,105);
    border: 5px cyan;
    padding: 13px;
    background-image: url(img/background.jpg);
    padding: 0px 0px;
    margin: 100px;

    background-size: cover;
    background-position: center;
}

button{
    font-size: 40px;
    position: center;
    float: center;
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    list-style-type: none;
    background-color: #59f1ff;
    font-family: 'Rubik';
}

hr{
    color: white;

}
