h1{
    text-align: center;
    font-style: bold;

}

body{
    /*больше вещей будет добавлено*/
    font-family: roboto;
    font-size: 22px;
    font-style: bold;
    text-align: center;
    color: white;
    background-color: rgb(105,105,105);
    border: 5px cyan;
    padding: 13px;
    background-image: url(img/background.jpg);
    padding: 0px 0px;
    margin: 100px;

    background-size: cover;
    background-position: center;
}

button{
    font-size: 40px;
    border-radius: 18px;
    position: center;
    float: center;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
