@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap%27');

h1{
    text-align: center;
    font-style: bold;
    color: white;

}

body{
    /*больше вещей будет добавлено*/
    font-family: roboto;
    font-size: 22px;
    font-style: bold;
    text-align: center;
    color: white;
    background-color: rgb(105,105,105);
    border: 5px cyan;
    padding: 13px;
    padding: 0px 0px;
    margin: 100px;
    
    background: url('img/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-decoration:underline;
    text-transform:uppercase;
}

button{
    /*Надо сделать кнопку покрасивее*/
    font-size: 40px;
    position: center;
    float: center;
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    list-style-type: none;
    background-color: silver;
    font-family: 'Rubik';
}

hr{
    /*Надо пожирнее*/
    color: white;

}
